<div class="weatherBox transitionAll" id="weatherBox">
  <div class="clockBox transitionAll" id="test">
    <div class="timeBox transitionAll">
      <div class="hours transitionAll">
        <div class="timeNumbers leftMiddle" id="hourLeft">0</div>
        <div class="timeNumbers rightMiddle" id="hourRight">0</div>
        <div class="timeNumbers leftDown" id="hourLeft2">0</div>
        <div class="timeNumbers rightDown " id="hourRight2">0</div>
      </div>
      <div class="tick transitionAll">:</div>
      <div class="minutes transitionAll">
        <div class="timeNumbers leftMiddle" id="minuteLeft">0</div>
        <div class="timeNumbers rightMiddle" id="minuteRight">0</div>
        <div class="timeNumbers leftDown" id="minuteLeft2">0</div>
        <div class="timeNumbers rightDown" id="minuteRight2">0</div>
      </div>
      <div class="tick transitionAll">:</div>
      <div class="seconds transitionAll">
        <!-- todo: obere Zahlen anzeigen -->
        <!-- <div class="timeNumbers leftUp" id="secondLeft">0</div> //NOSONAR
        <div class="timeNumbers rightUp" id="secondRight">0</div> -->
        <div class="timeNumbers leftMiddle" id="secondLeft">0</div>
        <div class="timeNumbers rightMiddle" id="secondRight">0</div>
        <div class="timeNumbers leftDown" id="secondLeft2">0</div>
        <div class="timeNumbers rightDown" id="secondRight2">0</div>
        <div class="tick transitionAll"></div>
      </div>
    </div>
    <div class="dayBox transitionAll">
      <div class="innerDayBox transitionAll" id="innerDayBox">
        Mo
      </div>
    </div>
  </div>
  <div class="internWeatherBox transitionAll">
    <div class="weatherImageBox transitionAll">
      <img src="../../assets/Sunny-Weather-Icon-580x386.jpg" alt="weatherImage" class="weatherImage transitionAll">
    </div>
    <div class="currentWeatherBox transitionAll">
      <div class="dateBox transitionAll"></div>
      <div class="innerCurrentWeatherBox transitionAll" id="innerCurrentWeatherBox"></div>
      <div class="forecastBox transitionAll" id="forecastBox1"></div>
      <div class="forecastBox transitionAll" id="forecastBox2"></div>
      <div class="forecastBox transitionAll" id="forecastBox3"></div>
      <div class="forecastBox transitionAll" id="forecastBox4"></div>
      <div class="forecastBox transitionAll" id="forecastBox5"></div>
    </div>
    <div class="weatherForeCastBox transitionAll">
      <div class="weekDayForecast transitionAll" id="day1">Mo</div>
      <div class="weekDayForecast transitionAll" id="day2">Di</div>
      <div class="weekDayForecast transitionAll" id="day3">Mi</div>
      <div class="weekDayForecast transitionAll" id="day4">Do</div>
      <div class="weekDayForecast transitionAll" id="day5">Fr</div>
    </div>
  </div>
</div>